.example-container {
  width: 100vw;
  height: 100vh;
}
.mat-drawer-inner-container.ng-tns-c2384444419-0 {

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.draw{
  background-color: #3f51b5;

}

#main-content {
  padding: 40px;
}

.side-bar-button{
  background-color: white;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
  color: #dddddd;
}

#side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

#side-bar > a {
  width: 100%;
  margin: 10px;
  color:#3f51b5;
}
#side-logout > a {
  width: 100%;
  margin: 10px;
  margin-top: 2px;
  color:#3f51b5;
}


.navigation-header {
  background-color: rgb(73, 51, 153);
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  padding-left: 2%;
  align-items: center;
  background-color: #a9a5c6;
}
.logo-container > a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}
.navigation-items {
  display: flex;
  gap: 40px;
}
.navigation-items > a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: .4s ease-in-out;
}
.navigation-items > a:hover {
  color: white;
}


/* CSS */
.button-38 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
background-color: #FFFFFF;
border: 0;
border-radius: .5rem;
box-sizing: border-box;
color: #111827;
font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: .875rem;
font-weight: 600;
line-height: 1.25rem;
padding: .75rem 1rem;
text-align: center;
text-decoration: none #D1D5DB solid;
text-decoration-thickness: auto;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
