<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="draw" opened>
    <div id="side-bar">
      <img class="logo" src="assets/images/Fish-logo.png">

      <a  class="side-bar-button" mat-stroked-button routerLink="/competition">Competition</a>

      <a  class="side-bar-button" mat-stroked-button routerLink="/member">Member</a>

      <a  class="side-bar-button" mat-stroked-button routerLink="/hunt">Hunting</a>
    </div>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
