.card{
  margin-bottom: 50px;
}
.card mat-card-content {
  margin-top: 15px;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.participant-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.panel{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #eee;
  font-weight: bold;
}
.pageHead {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}
h1{
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Arabic Typesetting";
  font-size: xxx-large;
}
